body, html {
    height: 100%;
    margin: 0;
}

#image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#random-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
